@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /*Scrool Suave nas transições*/
    font-family: "Nunito", sans-serif;

}





body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.div-forms {
    padding: 30px;
    height: 500px;
    width: 800px;
    background-color: #0ab9d4;/*AZUL PRINCIPAL*/
    border-radius: 10px;


}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.label {
    margin-bottom: 5px;
    /*margem inferior*/
    font-weight: bold;
    /*Largura da fonte*/
}



.dombosco {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

 .btn-form{
background-color: #d8d8c0;
padding: 10px;/*Espaçamento interno*/
width: 700px;/**/
height: 40px;
border-radius: 15px;/*arredondamento de borda*/
border: none;/*retirar borda*/
font-size: 12px;
cursor: pointer;
}

.btn-form:hover{
background-color: #ffffff;
transition: 0.9s;


}


h2, p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.input-email {
    color: white;
}





